* {
	box-sizing: border-box;
}

header {							/*Header*/
	border-bottom: 3px solid #fdea07;
}

#header-nav {
	background-color: #000000cc;
	padding: 0;
}

.container {
	max-width: 100%;
}

.navbar-brand h1 { 					/*Food, LLC Company Name*/
  font-family: Papyrus, sans-serif;
  color: #fdea07;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: 8px 0px 0px 8px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-dark .navbar-toggler {		/*Button*/
	border-color: rgba(255,255,255,0.70);
}

#navbarNav {						
	background-color: #ccc;
	max-width: 100%;
	border: 3px solid #fdea07;
	border-width: 3px 3px 0px;
}

#nav-list li {							/*Items List*/
  color: #951C49;
}

li:nth-child(1), li:nth-child(2) {
	border-bottom: 1px solid #000;
}

#nav-list li:hover {
  background: #E7E7E7;
}

#main-content {						/*Main Content of the Body*/
	padding: 0;
}

.jumbotron {
	padding: 20px;
	border-radius: 0;
	background-color: #fff;
}

#page-heading {						/*Our Menu Heading*/
	padding: 10px;
	margin-bottom: 25px;
}

.col-xs-12 {
	background-color: #ccc;
	font-style: italic;
	padding-top: 10px;
}